<section class="login-page">
  <div class="container">
    <div class="login-content">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 col-md-7 col-sm-10 my-4">
          <div class="login-form py-5">
            <form class="form-header">
              <div class="logo text-center">
                <img src="assets/shared/logo.svg" alt="" srcset="" />
              </div>
              <p class="text-muted my-3">Change Password</p>
              <div class="d-flex flex-column">
                <label for="oldPassword">Old password</label>
                <input type="password" name="oldPassword" placeholder="Please enter your old password" id="oldPassword" class="test-custom-input">
              </div>

              <div class="d-flex flex-column">
                <label for="newPassword">New password</label>
                <input type="password" name="newPassword" placeholder="Please enter your new password" id="newPassword" class="test-custom-input">
              </div>

              <div class="d-flex flex-column">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" name="confirmPassword" placeholder="Please confirm your password" id="confirmPassword" class="test-custom-input">
              </div>
              <button type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
