<section click-stop-propagation cdkDrag cdkDragBoundary=".home-page" class="model foucedDialog" id="ADD" (click)="focus($event)">
    <header cdkDragHandle>
        <div class="title">
            <h5>
                <button>
                    <img src="assets/home/window/icons/information.svg" width="20px" alt="" srcset="">
                </button>
                <img class="mx-2" src="assets/home/window/icons/addComponent.png" width="20px" alt="" srcset="">
                <!-- <img class="mx-2" [src]="data[0].IconPath" width="20px" alt="" srcset=""> -->
                <!-- <span>{{data[0].Name}}</span> -->
                <span>Add User</span>
            </h5>
        </div>
        <div class="modal-actions">
            <button class="mx-2" id="minimize" (click)="minimize($event)">
                <img src="assets/home/window/icons/minimise.svg" width="20px" alt="" srcset="">
            </button>
            <button (click)="close()" id="maximize">
                <img src="assets/home/window/icons/close.svg" width="20px" alt="" srcset="">
            </button>
        </div>
    </header>
    <mat-dialog-content class="mat-typography p-0 m-0">
        <div class="content">
            <!-- <h3>Hello From {{data[0].Name}} Window</h3> -->
            <form>
                <div class="mb-2">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-upload mb-3">
                                <div class="upload">
                                    <img class="rounded-circle preview" width="100px" height="100px"
                                        src="assets/home/window/icons/icon-default.png" alt="" srcset="">
                                    <!-- <button> -->
                                    <div>
                                        <label style="cursor: pointer;" for="upload-img"><img id="previwe-img"
                                                src="assets/home/window/icons/upload.png"
                                                alt="upload_image_skelton"></label>
                                        <input (change)='onFileSelected($event)' type="file" id="upload-img"
                                            style="display: none; visibility: none;">
                                    </div>
                                    <!-- </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div>
                                <label class="form-label m-0">First Name</label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Add Title here">
                                </div>
                            </div>
                            <div class="mt-2">
                                <label class="form-label m-0">Last Name</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="Add Title here">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">E-Mail Address</label>
                    <input type="text" class="form-control" placeholder="john.doe@internet.com">
                </div>

                <div class="mb-2">
                    <label class="form-label">Phone Number</label>
                    <input type="text" class="form-control" placeholder="Add Phone Number">
                </div>

                <div class="mb-2">
                    <label class="form-label">ID Number</label>
                    <div class="d-flex align-items-center">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>ID Number</option>
                            <option value="1">model One</option>
                        </select>
                        <img width="31px" height="32px" class="ms-2"
                            src=".../../../../../../../../../assets/home/window/icons/vuesax-bold-add.svg" alt=""
                            srcset="">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Select Language</option>
                            <option value="1">model One</option>
                        </select>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Company</option>
                            <option value="1">model One</option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-between flex-column">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <div class="w-100">
                            <div class="form-check form-switch">
                                <nz-switch [(ngModel)]="switchValue"></nz-switch>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="mb-3">
                    <label class="form-label">Amp Note</label>
                    <input type="text" class="form-control" placeholder="Note">
                </div>

                <div>
                    <div class="mb-2">
                        <div class="fom-actions">
                            <button (click)="close()">Cancel</button>
                            <button>Save</button>
                        </div>
                    </div>    
                </div>
                
            </form>
        </div>
    </mat-dialog-content>
</section>