<section class="reset-password-page">
    <div class="container">
        <div class="reset-password-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-7 col-sm-10 my-4">
                    <div class="main-info">
                        <header>
                            <h3>Get Email</h3>
                        </header>
                        <article>
                            <p>We will send an SMS to get your email, do you want to continue?</p>
                            <form class="form-inline">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" placeholder="Please enter your phone number" autofocus>
                                </div>
                                <div class="actions">
                                    <button class="my-1">Cancel</button>
                                    <button class="mx-3 my-1">Send</button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>