<section class="reset-password-page">
    <div class="container">
        <div class="reset-password-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-7 col-sm-10 my-4">
                    <div class="main-info">
                        <header>
                            <h3>Reset Password</h3>
                        </header>
                        <article>
                            <p>We will send an email to reset your password, do you want to continue?</p>
                            <div class="actions">
                                <button class="my-1">Cancel</button>
                                <button class="mx-3 my-1">Send</button>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>