<section class="lock-screen-page">
    <div class="container">
        <div class="lock-screen-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-7 col-sm-10 my-4">
                    <div class="main-info">
                        <div class="user-img text-center">
                            <img src="assets/home/lock-screen/Person.png" alt="" srcset="">
                            <h3>John Doe</h3>
                        </div>
                        <div class="user-pass">
                            <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="password" class="form-control" placeholder="Password" autofocus>
                                    <button type="submit">
                                        <img src="assets/home/lock-screen/arrow.svg" alt="" srcset="">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>