<section click-stop-propagation cdkDrag cdkDragBoundary=".home-page" class="model foucedDialog" id="personImg">
    <header cdkDragHandle>
        <div class="modal-actions">
            <button (click)="close()">
                <img src="assets/home/window/icons/close-blue.svg" width="30px" alt="" srcset="" >
            </button>
        </div>
    </header>
    <article>
        <div class="content">
            <img src="/assets/home/window/Group 25429.svg" alt="preview_img" class="w-100">            
        </div>
    </article>
</section>