<section class="tiket-page">
    <div class="container">
        <div class="tiket-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-7 col-sm-10 my-4">
                    <div class="tiket-form">
                        <div class="form-header">
                            <div class="logo text-center">
                                <img src="assets/shared/logo.svg" alt="" srcset="">
                            </div>
                            <div class="title">
                                <h5>Ticket Support</h5>
                            </div>
                        </div>
                        <div class="form-content">
                            <div class="example-container">
                                <form [formGroup]="addTicketSupport" (ngSubmit)="submitTicketForm(addTicketSupport.value)">
                                    <mat-form-field class="example-form-field w-100" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput type="email" formControlName="email">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Message</mat-label>
                                        <textarea formControlName="message" matInput></textarea>
                                    </mat-form-field>
                                    <div class="tiket-btn my-4 text-center">
                                        <button type="submit">Send</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        <div class="back-to-login">
                            <button (click)="back()">
                                <img src="assets/home/lock-screen/back.svg" alt="" srcset="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>