<div class="d-flex">
    <div class="offcanvas offcanvas-end py-5 px-3" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <a class="ms-auto" data-bs-dismiss="offcanvas" aria-label="Close" role="button"id="closeBtn">
            <img class="sidemenu-icon" src="assets/home/main/MenuClose.svg" alt="" srcset="">
        </a>
        <div>
            <h3>Side Menu Content</h3>
        </div>
    </div>
    <div>
        <a class="position-absolute" style="top: 20px; right: 0; transform: rotateX(360deg) rotateY(180deg);" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <img class="sidemenu-icon" src="assets/home/main/MenuExpand.svg" alt="" srcset="">
        </a>
    </div>
</div>
